.CharacterList {
	width: 100vw;
	height: 100vh;
}

.Characters {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.Character {
	box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0, 25);
	-moz-box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.75);
	margin: 15px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Character img {
	width: 75%;
	height: 75%;
	object-fit: contain;
}
